{% extends "base.html" %}

{% load adexhome %}

{% block htmlclass %}home{% endblock %}

{% block meta %}<link rel="alternate" type="application/rss+xml" title="Anondex RSS Feed" href="rssfeed.xml" />{% endblock %}

{% block postscripts %}
    <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
    <script type="text/javascript">$(home_onload);</script>
{% endblock %}

{% block body %}
	<div id="wrapper">
		<div class="headerwrapper">
			<div id="header">
				<a id="feedlink" class="no-ajaxy" href="{% url rss_feed %}" title="Subscribe to Anondex feed.">RSS</a>
				<div id="logo">
                    <a href="/">
					    <h1>Anondex</h1>
					    <h2>The Anonymous Index</h2>
                    </a>
				</div>
				<div id="menu">
					<ul>

                        <li>
                            <a id="linkcreate" href="{% url home_create %}">Create<span class="elbow-left"><span></span></span><span class="elbow-right"><span></span></span></a>
                        </li>
                        <li>
                            <a id="linkupload" href="{% url home_upload %}">Upload<span class="elbow-left"><span></span></span><span class="elbow-right"><span></span></span></a>
                        </li>
                        <li>
                            <a id="linkbrowser" href="{% url browse 1 %}">Browse<span class="elbow-left"><span></span></span><span class="elbow-right"><span></span></span></a>
                        </li>
                        <li>
                            <a id="linkmypage" href="{% url home_about %}">About<span class="elbow-left"><span></span></span><span class="elbow-right"><span></span></span></a>
                        </li>
					</ul>
				</div>
                <div id="loginmenu">
                    {% if user.is_authenticated %}
                        <a href="/user/{{ user.username }}">{{ user.username }}</a> &middot; <a class="no-ajaxy" href="{% url logout %}">logout</a>
                    {% else %}
                        <a class="no-ajaxy login" href="{% url login %}">login</a>
                    {% endif %}
                </div>
                <div id="searchbar">
                    <input type="text" placeholder="Search disabled" disabled />
                </div>
			</div>
		</div>
		<div id="page">
			<div id="content">
                {% block content %}
				    <noscript><h1>Site is loading... You need javascript for this website to function properly.</h1></noscript>
                {% endblock %}
			</div>
			<!-- end div#content -->
			<div id="sidebar" style="visibility:hidden">
				{% block sidebar %}Sidebar{% endblock %}
				<!-- end sideitems -->
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
		<!-- end div#page -->
		<div class="footerwrapper">
			<div id="footer">
				<p id="legal">Copyright &copy; 2012 Anondex.com | <a href="{% url home_privacy %}">Privacy Policy</a> | <a href="{% url home_tos %}">Terms of Service</a></p>
			</div>
		</div>
		<!-- end div#footer -->
	</div>
{% endblock %}