{% extends "home/base.html" %}

{% load comments adexcomments adexhome hitcount_tags %}

{% if not request.is_ajax %}
    {% block postscripts %}
        {{ block.super }}
        <script>$(browse_onload);</script>
    {% endblock %}
{% endif %}

{% block content %}
    {% include "pagination.html" %}
    <div class="browsetable">
        {% if request.is_ajax %}
            <script>$(browse_onload);</script>
        {% endif %}
        {% for adex in page.object_list %}
                <div class="{% cycle "browseodd" "browseeven" %}" rel="/?{{ adex.item_code }}">
                        <div class="browseimagecell">
                            <span class="browseimagespan">
                                <a class="no-ajaxy" href="/?{{ adex.item_code }}">
                                    <span class="typeicon icontype{{ adex.type }}"></span>
                                    {{ adex.thumbnail|safe }}
                                </a>
                            </span>
                        </div>
                        <div class="browsedescription">
                            <div class="itemtitle">{{ adex.title }}</div>
                            <div class="itemdescription">{{ adex.description|linebreaksbr }}</div>
                        </div>
                        <div class="browsedetails" nowrap>
                            <span class="rated_text"><span class="out5Class" style="{% rating_style adex.rating.get_rating 1 %}">{{ adex.rating.get_rating }}</span><span class="votesClass"> - {{ adex.rating.votes }} Vote{{ adex.rating.votes|pluralize }}</span></span>
                            <span><ul class="star-rating2"><li class="current-rating" style="width:{% widthratio adex.rating.get_rating 5 100 %}%"></li><li></li><li></li><li></li><li></li><li></li></ul></span>
                            <div>{{ adex.date|timeago }}</div>
                            {% get_comment_count for adex as comment_count %}
                            <div>
                                {% if comment_count > 0 %}
                                    <a href="{{ adex.url }}">
                                        {{ comment_count }} Comment{{ comment_count|pluralize }}
                                    </a>
                                {% else %}
                                    0 Comments
                                {% endif %}
                            </div>
                            {% get_hit_count for adex as views %}
                            <div>{{ views }} View{{ views|pluralize }}</div>
                        </div>
                        <div class="browseicons"></div>
                </div>
        {% endfor %}
    </div>
    {% include "pagination.html" %}
{% endblock %}