{% load medialibrary adexcomments %}

<h1>Latest Adex</h1>
{% for adex in adex_list %}
    <a class="latestitem no-ajaxy" href="/?{{ adex.item_code }}">
        <div class="thumb">{% mediathumb adex 98 %}</div>
        <div class="itemtitle">{{ adex.title }}</div>
        <div class="stat">{{ adex.date|timeago }}</div>
    </a>
{% endfor %}

<h1>Random Media</h1>
{% for file in rand_files %}
    <span class="randomimage">
        <a href="{{ file.url }}">
            {% mediathumb file 70 %}
        </a>
    </span>
{% endfor %}

<h1>Latest Comments</h1>
{% include "comments/comments.html" with anchored=0 stubbed=1 modcontrols=0 thumb_width=98 %}

