{% extends "home/base.html" %}

{% block title %}Anondex Terms of Service{% endblock %}

{% block content %}
    <div class="text">
        <h1>Terms of Service</h1>
        <p>By uploading and/or posting content, whether it be text or media, you must agree to the following:</p>
        <ul>
            <li>
                You will not post illegal content. This includes, but is not limited to, the following:
                <ul>
                    <li>Child pornography under US law</li>
                    <li>Malicious content such as viruses, malware, etc</li>
                    <li>Content for which you do not hold the copyright</li>
                </ul>
            </li>
            <li>You will not post any pornographic content. This is not a porn website and that content is better serviced elsewhere.</li>
            <li>
                You will not spam. This explicitly includes:
                <ul>
                    <li>Inappropriate tagging of content</li>
                    <li>Excessive amounts of posting with little or no content</li>
                    <li>Vote bombing</li>
                    <li>Advertising</li>
                </ul>
            </li>
            <li>You relinquish any rights you have in regards to the content, whether it be trademark, copyright, or otherwise similar protection so that we can freely use the content.</li>
            <li>You understand that your content is subject to deletion or modification at any point in time. Modification usually consists of minor cosmetic improvements to uphold site integrity.</li>
        </ul>
    </div>
{% endblock %}