{% extends "home/base.html" %}

{% block title %}{{ block.super }} - Upload{% endblock %}

{% if not request.is_ajax %}
    {% block postscripts %}
        {{ block.super }}
        <script>$(upload_onload);</script>
    {% endblock %}
{% endif %}

{% block content %}
    <h1>Upload your file(s)</h1>
    <div id="uploaddiv">

        {% if request.is_ajax %}
            <script>$(upload_onload);</script>
        {% endif %}

        <div id="upload-controller">
            <!--div class="ajax_msg ajax_msg_success">Adex successfully created: <input type="text" onclick="this.select();" value="http://anondex.com/?test"><div onclick="CloseAjaxDiv(this.parentNode);" class="delicon"></div></div-->
            <h1>Click or drag files here to add.</h1>
            <div><strong>Supported files types:</strong> jpg, gif, png, swf, mp3, ogg, mid, and video files.</div>
            <div><strong>Note:</strong> Only one file can be uploaded at a time unless they're images, in which case you're uploading a <em>single</em> album.</div>
        </div>

        <div id="upload-progress"></div>

        <div>
            <ul id="filelisttest">

            </ul>
            <div id="canvasdiv" class="webkit-scrollbars">
                <canvas id="uploadcanvas" width="684" height="100"></canvas>
            </div>

            <ul id="events"></ul>
        </div>



        <form id="fileuploader" method="post">
            <input type="file" id="file" name="file" accept="image/png,image/jpeg,image/gif" multiple />

            <div id="titlediv" class="create_field">
                <label class="fieldlabel" for="filetitle">Title</label>
                <div id="titlefield">
                    <input id="filetitle" type="text" size="25" maxlength="50" class="textskin tooltip" placeholder="(optional)" />
                <span id="titlehint" class="hint">
                        This is the main title that will be displayed in the index.<br /><br />
                        And it will be the browser window title:<br>"Anondex - <b>Your title</b>"
                    <span class="hint-pointer"></span>
                </span>
                </div>
            </div>

            <div class="create_field">
                <label class="fieldlabel" for="userid_uploader">Upload as</label>
                <select id="userid_uploader">
                    <option value="anon">Anonymous</option>
                    {% if user.is_authenticated %}
                        <option value="name">{{ user.username }}</option>
                    {% else %}
                        <option value="login">Login ...</option>
                    {% endif %}
                </select>
            </div>

            <div class="create_field">
                <label class="fieldlabel" for="tags">Tags</label>
                <div>
                    <div>
                        <ul id="upload-taglist"></ul>
                    </div>
                </div>
                <span id="tagshint" class="hint">
                    Categorize your submission with tags. Merely separate the words with a comma.<br><br>Example:<br><b>humor, funny, bob sagot</b>
                    <span class="hint-pointer"></span>
                </span>
            </div>

            <div class="termsdiv">
                <input type="checkbox" id="upload-tos" />
                <label for="upload-tos">Check if you have read the <a href="{% url home_tos %}">Terms of Service</a> and <a href="{% url home_privacy %}">Privacy Policy</a>.</label>
            </div>
        </form>

        <div id="uploadresults"></div>

        <div>
            <input type="button" class="createbutton" value="Upload" onClick="startCreateUpload();" />
            <input type="button" class="createbutton" value="Reset" onClick="resetUploadForm();" />
            <input type="button" class="createbutton" value="progress test" onClick="ok=0;progresstest();" />
            <input type="button" class="createbutton" value="progress test" onClick="verifyTags('#upload-taglist');" />
        </div>

    </div>
{% endblock %}