{% extends "home/media_pages/base.html" %}

{% block title %}Album - {{ block.super }}{% endblock %}

{% block normalscripts %}{% endblock %}
{% block ajaxscripts %}{% endblock %}

{% block div_id %}imagepage{% endblock %}

{% block objectcontent %}
    <div class="image">
        {% for image in object.related.all %}
            <a href="{{ MEDIA_URL }}i/{{ image.filename }}" class="no-ajaxy">
                <img src="{{ MEDIA_URL }}i/{{ image.filename }}" alt="{{ image.name }}" />
            </a>
        {% endfor %}
    </div>
{% endblock %}