{% extends "home/media_pages/base.html" %}

{% block title %}Audio - {{ block.super }}{% endblock %}

{% block normalscripts %}$(loadMediaPlayer);{% endblock %}
{% block ajaxscripts %}$(loadMediaPlayer);{% endblock %}

{% block div_id %}audiopage{% endblock %}

{% block objectcontent %}
    <div id="audio">
        <audio width="500" height="100" controls>
            <source src="{{ MEDIA_URL }}a/{{ object.filename }}" type="{{ object.content_type }}" />
            Your browser does not support this media ({{ object.content_type }}).
        </audio>
    </div>
{% endblock %}