{% extends "home/base.html" %}
{% load comments %}

{% block title %}Video - {{ block.super }}{% endblock %}

{% if not request.is_ajax %}
    {% block postscripts %}
        {{ block.super }}
        <script>$(comment_onload);</script>
    {% endblock %}
{% endif %}


{% block content %}
    <div id="flashpage">
        {% if request.is_ajax %}
            <script>$(comment_onload); $(userid_load);</script>
        {% endif %}
        {% if flash %}
            <div id="flash"></div>
            <script>
                swfobject.embedSWF("{{ MEDIA_URL }}f/{{ flash.filename }}", "flash", "680", "510", "9.0.0","files/expressInstall.swf",
                    {}, {wmode:"transparent"}, {});
            </script>

            {% get_comment_list for flash as comment_list %}
            {% include "comments/comments.html" with anchored=1 stubbed=0 modcontrols=1 %}
            {% comment %}
                {% render_comment_list for profile %}
                {% render_comment_form for profile %}
            {% endcomment %}
            {% get_comment_form for flash as form %}
            {% include "comments/form.html" %}
        {% else %}
            <p>Flash file does not exist.</p>
        {% endif %}
    </div>
{% endblock %}