{% extends "base.html" %}

{% block htmlclass %}htmlindex{% endblock %}

{% load comments hitcount_tags %}

{% block title %}{{ adex.title }} - {{ block.super }}{% endblock %}

{% block postscripts %}
    <script type="text/javascript">
		var animating = false;
		hoverbound = true;
		var expiration = 0;
		var showads = false;
		var reportpage = 'http://localhost:8000/report/?a=1&i=133';
        $(indexLoad);
        $(comment_onload);
        $(userid_load);
    </script>
{% endblock %}

{% block body %}
    <div class="webkit-scrollbars" style="height:100%; width:100%;">
        <div id="headerindex" class="clearfix">
            <div id="logoindex"><a target="_parent" title="Anondex home page." href="/">Anondex</a></div>
            <div id="headerrating">
                <span id="rated_text" class="rated_text"><span class="out5Class">{{ adex.rating.get_rating }}</span><span class="votesClass"> &middot; {{ adex.rating.votes }} Vote{{ adex.rating.votes|pluralize }}</span></span>
                <ul id="starset" class="star-rating">
                    <li id="current-rating" class="current-rating" style="width:{% widthratio adex.rating.get_rating 5 100 %}%"></li>
                    <li onclick="rateadex('1','{{ adex.id }}'); "title="1 star out of 5" class="star1">1</li>
                    <li onclick="rateadex('2','{{ adex.id }}'); "title="2 star out of 5" class="star2">2</li>
                    <li onclick="rateadex('3','{{ adex.id }}'); "title="3 star out of 5" class="star3">3</li>
                    <li onclick="rarateadexte('4','{{ adex.id }}'); "title="4 star out of 5" class="star4">4</li>
                    <li onclick="rateadex('5','{{ adex.id }}'); "title="5 star out of 5" class="star5">5</li>
                </ul>

            <div id="addthis">
                <div class="addthis_toolbox addthis_default_style " addthis:title="Dustin Approves!" addthis:description="Dustin Horse">
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d7a704f044c9114"></script>
            </div>
            </div>
            <div id="headerdetails">
                {% get_comment_count for adex as comment_count %}
                {% if adex.id %}{% get_hit_count for adex as views %}{% endif %}
                            <div></div>
                <a class="buttonwrapper viewbutton iframe" href="#" title="{{ views }} View{{ views|pluralize }}"><div class="buttonicon"></div><div class="buttoncount">{{ views|default:"0" }}</div></a>
                <a class="buttonwrapper commentbutton iframe" href="/comments/{{ adex.id }}" title="{{ comment_count }} Comments"><div class="buttonicon"></div><div class="buttoncount">{{ comment_count }}</div></a>
            </div>
            <div id="des" title="Click to show/hide full item description.">
                <div>
                    <span class="indextitle">{{ adex.title }}</span>
                    <ul class="itemtags">
                        
                        {% for tag in tags %}
                            <li title="There are {{ tag.count|default:"0" }} items tagged with '{{ tag.name }}'"><a href="http://anondex.com/browse/tagged/{{ tag.name }}"><b>{{ tag.name }}</b> &times;{{ tag.count|default:"0" }}</a></li>
                        {% endfor %}
                    </ul>
                    <span id="desexpand" class="desexpandopen" title="Toggle full item description."></span><div class="destext">{{ adex.description|safe }}</div>
                </div>
            </div>
                </div>

        <div id="hoverdiv" onmouseover="ShowHoverDiv();" onmouseout="HideHoverdiv();">
            <div id="hovertitle"></div>
            <div id="imgdiv"><a href="#"><img src="" alt="" class="topimg" /><img src="" alt="" class="bottomimg" /></a></div>
            <div id="hoverdescription"></div>
            <div id="hoverfoot">
                <div id="hoverrating"><ul class="star-rating2"><li class="current-rating"></li><li></li><li></li><li></li><li></li><li></li></ul></div>
                <div id="hovercomments"></div>
                <div id="hoverviews"></div>
            </div>
        </div>


        <div id="mainwrapper">
            <div id="itemcell" style="right:550px">
                <div id="sliderbutton" onclick="ShowHideComments();" title="Toggle comments."><div class="sliderclose"></div><span class="slidertext"></span></div>
                {% block adexcontent %}{% endblock %}
            </div>
            <div id="commentcell" style="display:block;width:430px;">
                <!--iframe id="comments" name="comments" frameborder="0" src="http://anondex.com/comments/133"></iframe-->
                <script type="text/javascript">
                    var commentsopen=false;
                    var commentframe='<iframe id="comments" name="comments" frameborder="0" src="/comments/{{ adex.id }}/"></iframe>';
                </script>

                    <div id="comments">
                        <h1>{{ adex.title }}</h1>

                        {% get_comment_list for adex as comment_list %}
                        {% if comment_list %}
                            <div class="wrapper">
                                <div class="divider"></div>
                                {% include "comments/comments.html" with anchored=1 stubbed=0 modcontrols=1 %}
                            </div>
                        {% else %}
                            <p align="center">No comments yet.</p><div class="divider"></div>
                        {% endif %}

                        {% get_comment_form for adex as form %}
                        {% include "comments/form.html" %}
                    </div>
            </div>
            <div id="sidebarindex">
                <a href="http://anondex.com/report.php?a=1&i=133" class="reportbutton"></a>
                <!-- <img src="images/tab2.gif" alt="Related" title="Related Items" class="tabimg" /> -->
                <div id="relatedcaption">Related</div>
                <div id="related" class="csshover">
                    {% for item in related %}
                        <div>{{ item.thumbnail|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if adex.id %}
            <script type="text/javascript"><!--
                $(document).ready(function() {
                    {% get_hit_count_javascript for adex %}
                });
            --></script>
        {% endif %}
    </div>
{% endblock %}