{% extends "adex/base.html" %}

{% block adexscripts %}$(loadMediaPlayer);{% endblock %}

{% block adexcontent %}
    {% for media in media_list %}
        {% if media.id == adex_data.image.id %}
            <div class="image {{ adex_data.image.style }}{% if adex_data.image.proportional %} proportional{% endif %}"
                 style="background-image:url('{{ MEDIA_URL }}i/{{ media.filename }}');">
            </div>
        {% endif %}
        {% if media.id == adex_data.audio.id %}
            <div id="audio">
                <audio width="300" height="30" controls autoplay loop>
                  <source src="{{ MEDIA_URL }}a/{{ media.filename }}" type="{{ media.content_type }}" />
                  Your browser does not support this audio ({{ media.content_type }}).
                </audio>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}