{% extends "adex/base.html" %}

{% block adexcontent %}
    {% for media in media_list %}
        {% if media.id == adex_data.image.id %}
            <div class="image {{ adex_data.image.style }}{% if adex_data.image.proportional %} proportional{% endif %}"
                 style="background-image:url('{{ MEDIA_URL }}i/{{ media.filename }}');">
            </div>
        {% endif %}
        {% if media.id == adex_data.audio.id %}
            <!--div id="audio"></div>
            <script>
                swfobject.embedSWF("{{ MEDIA_URL }}audioplayer.swf", "audio", "300", "25", "9.0.0","files/expressInstall.swf",
				    {autostart:"yes", loop:"yes", initialvolume:100, soundFile:"{{ MEDIA_URL }}a/{{ media.filename }}"}, {wmode:"transparent"}, {});
            
            </script-->
            <audio id="audio" width="300" height="25" controls autoplay loop>
              <source src="{{ MEDIA_URL }}a/{{ media.filename }}" type="{{ media.content_type }}" />
              Your browser does not support this audio ({{ media.content_type }}).
            </audio>
        {% endif %}
    {% endfor %}
{% endblock %}