{% extends "adex/base.html" %}

{% block adexcontent %}
    {% for media in media_list %}
        {% if media.id == adex_data.video.id %}
            <video width="100%" height="100%" controls autoplay loop>
              <source src="{{ MEDIA_URL }}v/{{ media.filename }}" {% if media.content_type %}type="{{ media.content_type }}"{% endif %} />
              Your browser does not support this video ({{ media.content_type }}).
            </video>
        {% endif %}
    {% endfor %}
{% endblock %}