<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="comments" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

    <title>{% block title %}Anondex{% endblock %}</title>
    {% block meta %}{% endblock %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css" />
    {% for file in HEAD_CSS_FILES %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/{{ file }}.css" />
    {% endfor %}

    <script type="text/javascript">var isbanned=false;</script>
    {% block prescripts %}{% endblock %}
    <script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
    <script src="http://www.google.com/jsapi?key=ABQIAAAAAZnDhnzUKNPDHvrc9EfNfBRtw_vN95wA5aH-dGXKAv5n-VEcWBThYA_IRSmiJZIc1rv5mIP0DWDf1g" type="text/javascript"></script>
    <script type="text/javascript">google.load("swfobject", "2.2");
        google.load("jquery", "1.5");
        google.load("jqueryui", "1.8.9");
    </script>
    {% for file in HEAD_JS_FILES %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/{{ file }}.js"></script>
    {% endfor %}
    {% include "google_analytics.html" %}
    {% block postscripts %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock body %}
</body>
</html>