/* CREATE FORM */
#creatediv {
	margin-top: 4px;
}
#titlediv, #namediv, #tagsdiv, #descriptiondiv {
	float:left;
	clear: both;
}
#creatediv .fieldlabel {
	float: left;
	width: 100px;
	margin: 5px 0 8px 24px;
	font: bold 12px Verdana;
}
#titlefield, #namefield, #tagsfield, #descriptionfield {
	float: left;
	margin: 0 0 4px 0;
	vertical-align: middle;
	width: 400px;
}
#descriptionfield { margin: 0 0 15px 0; }
#creatediv .textskin, .tagHandler, .textareaskin {
	outline:0;
	border: 1px solid #900;
	border-radius: 4px;
	-moz-border-radius: 4px;
	width: 230px;
	height: 100%;
	padding: 5px 10px;
	color: #000;
	font: bold 12px Verdana;
	background: #FFF;
	box-shadow: 1px 1px 2px #888
}
#creatediv .textskin:focus, #creatediv .textskin:hover, .tagHandler:hover {
	border: 1px solid #E00;
	background: #FDD;
}
.tagHandler:hover .tagInputField { background: #FDD; }
.textareaskin {
	width: 380px;
	height: 60px;
	float:left;
}
.textareaskin:focus, .textareaskin:hover {
	border: 1px solid #E00;
	background: #FDD;
}


.tagHandler {
	width: 386px;
	margin: 0;
	padding: 2px 5px;
	float:left;
}
.tagHandler ul.tagHandlerContainer {
    overflow: hidden;
    cursor: text;
}
.tagHandler ul.tagHandlerContainer li {
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 14px;
    line-height: 14px;
    float: left;
    margin: 2px;
    white-space: nowrap;
}
.tagHandler ul.tagHandlerContainer li.tagItem {
    background-color: #e22;
    color: #FFF;
    padding: 3px 8px;
    cursor: url('images/tag_remove.cur'), pointer;
}
.tagHandler ul.tagHandlerContainer li.tagItem:hover {
    background-color: #c22;
}
.tagHandler ul.tagHandlerContainer li.tagInput {
    padding: 3px 4px;
}
.tagHandler input.tagInputField {
	border: 0;
	outline: 0;
	background: #FFF;
}
.tagHandler div.tagLoader {
    position: absolute;
    right: -24px;
    top: 12px;
    display: none;
    background: url('images/loader.gif') center center no-repeat;
    width: 16px;
    height: 18px;
    cursor: default;
}
.tagHandler div.tagUpdate {
    position: absolute;
    right: -24px;
    top: 14px;
    background: url('images/tag_update.png') center center no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
}







#createbar {
	clear: both;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 12px 14px 15px 20px;
	width: 650px;
	background: #FBB;
	margin: 15px 0;
}
#createwrapper {width: 630px;}
#createbar h1, #upload-controller h1 {
	float: left;
	font: bold 18px Verdana;
	padding: 7px 10px 0 6px;
}
#createbar div.typeradio {
	float: left;
	width: 135px;
	height: 37px;
	margin: 0 0 10px 7px;
	position: relative;
}
#createbar div.typeradio label {
	position: absolute;
	left: 0;
	width: 127px;
	height: 29px;
	font: bold 14px Verdana;
	cursor: pointer;	
/*	background: url(imprimis/template_btn.gif) no-repeat;*/
	background: #FFF;
	text-align:left;
	padding: 8px 0 0 8px;
	border-radius: 4px;
}
#createbar div.typeradio label b {
	position: absolute;
	height: 48px;
	width: 48px;
	right:2px;
	margin-top: -13px;
	filter:alpha(opacity=60);
	opacity:0.6;
}
#videoimage { background: url(composite.png) -192px 0; }
#flashimage { background: url(composite.png) -192px 0; }
#imageimage { background: url(composite.png) -48px 0; }
#galleryimage { background: url(composite.png) -96px 0; }
#urlimage { background: url(composite.png) -144px 0; }
#htmlimage { background: url(composite.png) 0 0; }
#createbar div.typeradio label:hover,
#createbar div.typeradio label:active {
	background: #DDD; 
}
#createbar div.typeradio label:hover b,
#createbar div.typeradio label.selected b {
	margin-top: -14px;
	filter:alpha(opacity=100);
	opacity:1.0;
}
#createbar div.typeradio label.selected {
	background: #F22;
	color: white;
	cursor: default;
}
#createbar #typeoptions {
	clear: both;
}
#urloptions, #imageoptions, #videooptions, #flashoptions, #htmloptions { display: none; } 
#urloptions {
	
}
#url {
	width: 300px;
	color: blue;
	font: 12px Verdana;
	padding: 4px;
	margin: 20px;
}
#imageoptions {
	clear: both;
}
#imageoptionlist {
	display: block;
	padding: 10px 240px 0 0;
}
#imageoptions div {
	float: right;
	width: 70px;
	height: 75px;
	text-align: right;
	margin-left: 7px;
	position: relative;
	border: 1px solid #FBB;
}
#imageoptions div:hover { border: 1px solid black; }
#imageoptions input {
	position: absolute;
	left: 0;
}
#imageoptions label {
	position: absolute;
	left:0;
	width: 70px;
	height: 60px;
	font: bold 12px Verdana;
	cursor: pointer;
	margin-top: 15px;
	text-align:center;
}
#imageoptions label b {
	position:absolute;
	top: 0;
	left: 14px;
	margin-top: -15px;
}
#imgtemp1 { background: url(composite.png) 0 -48px; }
#imgtemp2 { background: url(composite.png) -71px -48px; }
#imgtemp3 { background: url(composite.png) -142px -48px; }
#imageselectspan, #musicselectspan, #propcheckspan, #htmlselectspan {
	position:relative;
	display:block;
	padding-top: 5px;
	clear: both;
}
#propcheckspan { padding-left:18px; }
#html {
	width: 600px;
	height: 140px;
}
#htmlselect {
	width:130px;
}

#maxfileval {display:none;}

#uploader {
	display: none;
	clear: both;
	width: 700px;
	height: 80px;
}

#recaptchadivframe {
	padding: 15px 0;
}

#submitbuttons {
	clear: both;
	margin: 10px 0 15px 20px;
	height: 400px;
}
#submitbuttons > input {
	float:left;
	background: #D4D4FF;
	border:0;
	border-radius: 4px;
	width: 80px;
	height: 28px;
	box-shadow: 2px 2px 2px #888;
	text-shadow: 1px 1px 1px #444;
	margin:2px 8px;
}
#submitbuttons > input:enabled:hover {
	background: #CCF;
	box-shadow: 1px 1px 2px #888;
	margin:3px 7px 1px 9px;
}
#submitbuttons > input:enabled:active {
	margin:4px 6px 0 10px;
	box-shadow: none;
}
#submitbuttons > input:disabled {
	text-shadow:none;
	background: #CCC;
}

.hint {
    display: none;
    position: absolute;
    font: 12px Verdana;
    color: white;
    width: 200px;
    margin-top: 4px;
    border: 1px solid red;
    padding: 10px 12px;
    margin-left: 7px;
    background-color: black;
	z-index: 3;
	-moz-border-radius: 8px;
	-moz-border-radius-topleft: 0;
	border-radius: 8px;
	border-top-left-radius: 0;
}

.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: -1px;
    width: 10px;
    height: 19px;
    background: url(imprimis/pointer.gif) left top no-repeat;
}

.required {
	font-size:12px;
	color: #F00;
}

#upload-controller {
	margin-bottom: 15px;
	padding: 12px 14px 15px 20px;
	width: 650px;
	background: #FBB;
	border-radius: 6px;
	-moz-border-radius: 6px;
}
#upload-controller object{float: right;}
.filetypes {
	float: left;
	display: block;
	height: 37px;
	line-height: 37px;
	margin-left: 15px;
	font-size: 13px;
}
#queuestatus {display:none; clear:both;}	
#filelist {
	float: left;
	clear: both;
	width: 640px;
}
#filelist table{
	width: 100%;
}
#filelist table td{padding:0 10px; white-space:nowrap;}
#filelist .filecell {width:100%;}
#filelist .sizecell {text-align:right;}
#filelist .typecell {white-space:nowrap;}
#filelist .controlscell {}
#log input, #filelist input{ width:50px; height:20px; cursor:pointer; }

#log{
	clear: both;
	width:640px;
}
#log > div{clear:both; width:100%; height:24px;}
#log div .progressbar{
	border: none;
	display: block;
	height:24px;
}
#log .fileinfo {position:absolute; width:640px; margin-top:-23px;}
#log .fileinfo td{white-space:nowrap; padding:0 10px;}
#log .filenamecell {width:100%;}
#log .filesizecell {}
#log .progressvalue {}
#log .statuscell {}
#log .cancelcell {}