html.htmlindex, html.htmlindex body {
	overflow:hidden;
	height:100%;
	width:100%;
	background: #FDD;
}

#headerindex {
	position:absolute;
	top:0; left:0; right:0;
	height:60px;
	border:none;
	border-bottom:1px solid #C00;
	z-index:9;
	box-shadow: 0 1px 2px #000;
}
#headerindex, #des {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 80%, from(#F22), to(#D00));
	background-image: -moz-linear-gradient(0% 80% 90deg,#D00, #F22);
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#logoindex {
	float:left;
	height:60px;
/*	background:black;*/
	padding:0 3px;
}
#logoindex a{
	font:34px Verdana;
	color:#DDD;
	text-decoration:none;
	line-height:60px;
}
#logoindex a:hover{
	color:#FAA;
	text-decoration:underline;
}
#des{
	color: #FFF;
	display:inline-block;
	height: 60px;
	min-height:60px;
	width:550px;
	margin-left:5px;
	overflow:hidden;
	z-index:9;
	cursor:pointer;
	border-radius: 6px;
}
#des:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 60, from(#F11), to(#C00));
	background-image: -moz-linear-gradient(0% 60px 90deg,#C00, #F11);
}
#des .indextitle{
	float:left;
	font-size:30px;
	line-height:30px;
}
#des > div{
	display:inline-block;
	width:544px; /* #des width - padding*2 */
	line-height:15px;
	font-size:14px;
	padding:3px;
}
#desexpand {
	display: none;
	float:right;
	margin:3px;
	width:15px; height:15px;
	filter: alpha(opacity:70);
	opacity: 0.7;
}
#des:hover #desexpand {
	filter: alpha(opacity:100);
	opacity: 1;
}
.desexpandclose {background: url(composite.png) -180px 126px;}
.desexpandopen {background: url(composite.png) -195px 126px;}
.destext {
	margin: 30px 0 0 20px;
	color: #FCC;
}
.itemtags {
	float:right;
/*	clear:right;*/
	color:#000;
}
.itemtags li{
	white-space:nowrap;
	background: #FDD;
	margin-bottom:2px;
	margin-left: 0px;
	padding:1px 3px;
	border-radius: 4px;
}
.itemtags li:hover{
	background: #FFF;
}
.itemtags a {
	text-decoration: none;
	color:#000;
}
#headerdetails{
	margin-top:7px;
	float:left;
}
#headerrating{
	float:left;
	margin-top:2px;
	width:120px;
	text-align:center;
}
#headerrating #starset{margin:0 auto;}
#headerrating .rated_text {
	font-size:12px;
	color:#FFF;
}
.out5Class {
	color:#009900;
	font-weight:bold;
	font-size:16px;
}
#addthis {
	display:inline-block;
	margin:4px auto 0 auto;
}
#addthis .addthis_counter.addthis_pill_style,
#addthis .addthis_button_expanded,
#addthis .atc_s {
	height:17px;
	padding-top:0;
}
#addthis .addthis_button_expanded {
	height:15px;
}
#advertheader {
	position:absolute;
	top:0; right:0;
	width:468px; height:60px;
}

#mainwrapper {
	position:absolute;
	top:61px; bottom:0;
	left:0; right:0;
}

#commentcell {
	position:absolute;
	top:0; right:120px;
	height:100%; /* width:430px; */
	overflow:hidden;
}
#commentcell iframe{
	position:absolute;
	width:430px;
	height:100%;
	right:0;
}
#itemcell {
	position:absolute;
	top:0; bottom:0;
	left:0; /* right:550px; */
	text-align: center;
	border-right:2px solid black;
}
#itemcell #itemframe{
	height:100%;
	min-width:10px;
	width:100%;
}
#sliderbutton {
	position:absolute;
	top:0; right:0;
	height:140px; width:19px;
	border-bottom:3px solid black;
	border-left:3px solid black;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	cursor:pointer;
	background-color:black;
	filter: alpha(opacity:80);
	opacity: 0.8;
	z-index:8;
}
#sliderbutton:hover {
	filter: alpha(opacity:100);
	opacity: 1;
}
#sliderbutton div{
	height:16px; width:10px;
	margin: 0 auto;
}
.sliderclose {background: url(imprimis/slider.gif) left;}
.slideropen {background: url(imprimis/slider.gif) right;}
.slidertext {
	display:block;
	margin-top:5px;
	width:19px; height:119px;
	background: url(imprimis/comments.png);
}

#sidebarindex{
	position:absolute;
	vertical-align:top;
	right:0; top:0; bottom:0;
	width:120px;
}
.sidebarindex {
	margin-left:0px;
	width: 98px;
	height: 78px;
}
#sidebarindex .sideitem a {
	width:98px;
	height:78px;
}
#sidebarindex .sideitem img{
	width:98px;
	border:none;
}

#related{
	position:absolute;
	width:118px;
	border: 1px solid black;
	top: 50px; bottom:0;
	right:0; left:0;
	overflow:hidden;
	overflow-y:scroll;
}
#relatedcaption {
	position:absolute;
	top:26px; right:14px;
	height:23px; width:85px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border:1px solid white;
	border-bottom:none;
	background-color: #F99;
	font:bold 18px Verdana;
	text-align:center;
}
#relatedcaption:hover {background-color: #FAA;}
a.reportbutton {
	position:absolute;
	border:1px dotted black;
	top:0px; right:22px;
	display: block;
	background: url(../images/report.gif);
	width:70px; height:15px;
}
a.reportbutton:hover {
	background-position: 0 -15px;
}
#advertside {
	position:absolute;
	bottom:0; right:0;
	width:120px; height:240px;
}

#ctimer {
	position:absolute; 
	right:0; width:180px; height:40px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	background:black;
	color:red;
	text-align:center;
	font:normal 10px Verdana;
}
#ctimer .ctimertime {
	font:bold 20px Verdana;
}

#hoverdiv {
	position:absolute;
	right: 118px;
	filter: alpha(opacity:100);
	opacity: 1;
}