.simpleheader,
.simpleheader span {
	display:block;
	height:20px;
	line-height:20px;
	color:#FFF;
	background:#D00;
	text-align:center;
	text-decoration:none;
}
.simpleheader span {
	box-shadow: 0 2px 3px #666;
}

/* The text that displays the rating information */
.rated_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:5px;
}
/* Green text that shows 3.34/5 */
.out5Class {
	color:#00DD00;
	font:bold 16px Arial;
	line-height:16px;
}