.star-rating,
.star-rating li:hover,
.star-rating li:active,
.star-rating .current-rating{
	background: url(composite.png) 0 69px;
}
.star-rating{
	position:relative;
	width:100px;
	height:20px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: 0 89px;
}
.star-rating li{
	display: inline;
	cursor: pointer;
}
.star-rating li, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:20px;
	line-height:20px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating li:hover{
	background-position: 0 69px;
}
.star-rating li.star1{
	width:20%;
	z-index:6;
}
.star-rating li.star2{
	width:40%;
	z-index:5;
}
.star-rating li.star3{
	width:60%;
	z-index:4;
}
.star-rating li.star4{
	width:80%;
	z-index:3;
}
.star-rating li.star5{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: 0 49px;
}	

/* SECOND STAR (ALREADY VOTED */


.star-rating2,
.star-rating2 li:active,
.star-rating2 .current-rating{
	background: url(composite.png) 0 69px;
	filter:alpha(opacity=80);
	opacity:0.8;
}
.star-rating2{
	position:relative;
	width:100px;
	height:20px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: 0 89px;
}
.star-rating2 li{
	display: inline;
}
.star-rating2 li, 
.star-rating2 .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:20px;
	line-height:20px;
	outline:none;
	overflow:hidden;
	border: none;
	cursor:default;
}

.star-rating2 li.star1{
	width:20%;
	z-index:6;
}
.star-rating2 li.star2{
	width:40%;
	z-index:5;
}
.star-rating2 li.star3{
	width:60%;
	z-index:4;
}
.star-rating2 li.star4{
	width:80%;
	z-index:3;
}
.star-rating2 li.star5{
	width:100%;
	z-index:2;
}
.star-rating2 .current-rating{
	z-index:1;
	background-position: 0 69px;
}


/* END SECOND STAR */

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
.voted_twice {
/*	background: #FFDDDD url(../images/rating_warning.gif) no-repeat 5px 50%;*/
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
.voted {
/*	background: #E7FFCE url(../images/rating_tick.gif) no-repeat 5px 50%;*/
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}

.percentClass {
	/* Insert styles here for the percentage display. Example (74%) */
	}
.votesClass {
	/* Insert styles here for the votes display. Example (2 Votes) */
	font:inherit;
	}
.topRatedList {
	padding:0;
	margin:0;
	}
.topRatedList li {
	list-style-type:none;
	}

