{% load adexcomments %}
{% for comment in comment_list %}
    <div {% if anchored %}id="{{ comment.id }}" {% endif %}class="comment {% cycle "commentodd" "commenteven" %}">
        <div class="header gravatar">
            {% if comment.hash %}<span class="tripcode"><img src="http://www.gravatar.com/avatar/{{ comment.hash }}?d=wavatar&s=30" /></span>{% endif %}
            {% if comment.name and comment.user %}
                <a target="_parent" class="iframe" href="#browser/commenter/{{ comment.id }}">{{ comment.user_name }}</a>
            {% else %}
                {% if comment.name %}{{ comment.name }}{% else %}Anonymous{% endif %}
            {% endif %}
			<div class="date">{{ comment.submit_date|timeago }}{% if modcontrols %} <a href="/admin/comments/adexcomment/{{ comment.id }}/">Mod</a>{% endif %}</div>
            <div class="commentrating"><span style="color:{% if comment.rating < 0 %}red{% else %}green{% endif %}">{% if comment.rating != 0 %}{{ comment.rating }}{% endif %}</span></div>
        </div>
        <div class="content">
            <div class="contentdiv">
                {% if comment.image %}
                    <div class="imagediv">
                        <a target="_parent" class="iframe" href="/image/{{ comment.image.id }}">
                            <img src="{{ THUMBNAIL_URL }}{{ comment.image.name }}" alt="{{ comment.image.name }}" class="cimg" />
                        </a>
                        {% if comment.image.vote_count > 0 %}
                            <div class="rating"><ul class="star-rating2"><li class="current-rating" style="width:{% widthratio comment.image.rating 5 100 %}%"></li><li></li><li></li><li></li><li></li><li></li></ul></div>
                        {% endif %}
                        <p>comment count</p>
                    </div>
                {% endif %}
                {{ comment.comment|bbcode|safe }}
            </div>
        </div>
        <div class="commentcontrols">
            {% if stubbed %}
                stubbed
            {% else %}
                <a href="javascript:ratecomment('{{ comment.id }}',1)">Up</a> <a href="javascript:ratecomment('{{ comment.id }}',0)">Down</a> <a onclick="hltag('{{ comment.id }}');" href="#{{ comment.id }}">Perm</a> <a href="/comments/flag/{{ comment.id }}/">Flag</a> <a href="javascript:reply('{{ comment.id }}');">Reply</a>
            {% endif %}
        </div>
    </div>
    <div class="divider"></div>
{% endfor %}