{% load comments i18n %}

<h1>Add Comment</h1>
<div class="errdiv"></div>
<form id="commentform" method="post" enctype="multipart/form-data" action="{% comment_form_target %}">
    {% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% endif %}
    {% endfor %}
    <div style="display:none;"><label for="id_honeypot">This is secret</label> <input type="text" name="honeypot" id="id_honeypot" /></div>
    <div class="formtable">
        <input name="name" type="text" maxlength="20" placeholder="Name" />
        <input name="pass" type="text" maxlength="20" placeholder="Hash Password" />

            <div id="imguploadcell">

                <div id="imguploader">
                    <input type="file" name="imagefile" id="imagefile" accept="image/png,image/jpeg,image/gif" />
                    <input type="hidden" name="file" />

                    <div id="imagedropframe"><canvas width="200" height="150" title="Click or drag a file here to upload."></canvas></div>

                </div>
                        <div id="progress_report_name"></div>
                        <div id="progress_report_status" style="font-style: italic;"></div>
                        <div id="progress_report_bar_container" style="width: 90%; height: 5px;"></div>
            </div>
        <div id="charcounter">[Chars Left: 500]</div>
        <textarea id="comment" name="comment" placeholder="Comment [500 Character Limit]" onKeyDown="updateCharCount(this);" onKeyUp="updateCharCount(this);" required></textarea>
        <input id="submitbutton" type="button" value="Post Comment" onclick="submitComment();" />
    </div>

    <!--
    <input type="hidden" name="info" value="" />

    <input type="hidden" name="title" value="hiddentest" /-->
    <input type="submit" value="submit non-ajax" />

</form>
<div class="footerdiv">* The comment is the only required field. (500 character limit)</div>