{% load comments i18n %}

<div class="errdiv"></div>
<form id="commentform" method="post" enctype="multipart/form-data" action="{% comment_form_target %}">
    {% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% for field in form %}
        {% if field.is_hidden %}
            <div>{{ field }}</div>
        {% endif %}
    {% endfor %}
    <div style="display:none;"><label for="id_honeypot">This is secret</label> <input type="text" name="honeypot" id="id_honeypot" /></div>
    <table class="formtable">
        <tr>
            <td class="firstcol">Name</td>
            <td><input name="name" type="text" maxlength="20" value="" /></td>
        </tr><tr>
            <td>Password</td>
            <td><input name="pass" type="text" maxlength="20" value="" /></td>
        </tr><tr>
            <td>Image:</td>
            <td id="imguploadcell">

                <div id="imguploader"><p></p></div>
                <div id="status"></div>
                <div id="fileinfo"></div>
                <div id="progressbar"></div>

            </td>
        </tr><tr>
            <td>Comment *<div id="charcounter">[Chars Left: 500]</div></td>
            <td><textarea id="comment" name="comment" onKeyDown="updateCharCount(this);" onKeyUp="updateCharCount(this);"></textarea></td>
        </tr><tr>
            <td></td><td><input id="submitbutton" type="button" value="Post Comment" onclick="submitComment();" /></td>
        </tr>
    </table>
    <input type="hidden" name="filename" value="" />
    <input type="hidden" name="info" value="" />
    <input type="hidden" name="X-Progress-ID" id="X-Progress-ID" value=""/>

    <input type="hidden" name="title" value="hiddentest" />
    <input type="submit" value="submit non-ajax" />
</form>
<form method="post" enctype="multipart/form-data" action="/upload_image/">{% csrf_token %}
    <input type="file" name="image" />
    <input type="submit" value="Submit" />
    <input type="button" value="Post Comment" onclick="submitComment2();" />
</form>
<div class="footerdiv">* The comment is the only required field. (500 character limit)</div>