{% extends "base.html" %}
{% load comments %}

{% block htmlclass %}comments{% endblock %}
{% block title %}{{ profile.user.username }} - {{ block.super }}{% endblock %}

{% block postscripts %}<script type="text/javascript">$(comment_onload);</script>{% endblock %}

{% block content %}
    {% if image %}
        <div><a href="{{ IMAGE_URL }}{{ image.name }}"><img src="{{ IMAGE_URL }}{{ image.name }}" /></a></div>
        {% get_comment_count for image as comment_count %}
        <p>{{ comment_count }} comments have been posted.</p>
        {% get_comment_list for image as comment_list %}
        {% include "comments/comments.html" with anchored=1 stubbed=0 modcontrols=1 %}
        {% comment %}
            {% render_comment_list for profile %}
            {% render_comment_form for profile %}
        {% endcomment %}
        {% get_comment_form for image as form %}
        {% include "comments/form.html" %}
    {% else %}
        <p>Image does not exist.</p>
    {% endif %}
{% endblock %}